<div class="p-wrapper">
  <form [formGroup]="searchForm">
    <mat-card>
      <mat-form-field class="c-form">
        <mat-label>Search GitHub User!</mat-label>
        <input matInput formControlName="search" placeholder="Ex. NuvolarDev...">
      </mat-form-field>
    </mat-card>
  </form>
  <ng-container *ngFor="let result of results | slice:0:6">

    <mat-card class="c-user-card" [routerLink]="['/home', result.login]">
      <mat-card-header>
        <img mat-card-avatar src="{{result.avatar_url}}" />
        <mat-card-title>
          {{result.login}}
        </mat-card-title>
      </mat-card-header>
    </mat-card>

  </ng-container>
</div>
