<div class="p-wrapper">
  <mat-card class="example-card">
    <ng-container *ngIf="!loading">
      <mat-card-header>
        <img mat-card-avatar src="{{gitUserImg}}" />
        <mat-card-title>{{gitUserName}}</mat-card-title>
        <mat-card-subtitle>
          <a [routerLink]="['/home']" routerLinkActive="router-link-active">Go home!</a>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

        <h3>Followers</h3>
        <mat-list>
          <ng-container *ngFor="let follower of gitUserFollowers">
            <mat-list-item>
              <img mat-card-avatar src="{{follower.avatar_url}}" class="mr-2" />
              {{follower.login}}
            </mat-list-item>
          </ng-container>
        </mat-list>
        <mat-divider></mat-divider>

        <h3>Repos</h3>
        <mat-list>
          <ng-container *ngFor="let repos of gitUserRepos">
            <mat-list-item>
              {{repos.name}}
            </mat-list-item>
          </ng-container>
        </mat-list>

      </mat-card-content>
    </ng-container>
    <span *ngIf="loading && existUser">Loading...</span>
    <span *ngIf="!existUser">This user doesn't exist. <a [routerLink]="['/home']" routerLinkActive="router-link-active" >Go home</a></span>
  </mat-card>
</div>
